<!DOCTYPE html>

<html>

<head>
    <title>Quotes</title>
    <link rel="stylesheet" href="/css/styles.css">
    
</head>

<body>
    <div>
        {{>header}}
        <form>
            <input type="text">
            <button>Search</button>
        </form>

        <p id="quotes"></p>
    </div>

    <script src="/js/index.js"></script>
</body>

</html>